.header {
    grid-template-columns: 200px 1fr;
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: blue;
}

.header-nav {
    justify-items: end;
}

.header-nav-list {
    grid-template-columns: repeat(4, auto);
    gap: 10px;
}