.header {
    grid-template-columns: 200px 1fr;
    align-items: center;
    height: 100px;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    background-color: rgb(21, 21, 21);
}

.logo {
    color: whitesmoke;
}

.logo:hover {
    color: forestgreen;
    cursor: default;
}

.header-nav {
    justify-items: end;
}

.header-nav-list {
    grid-template-columns: repeat(2, auto);
    gap: 50px;
}